@model ASP.Models.compra

@{
    ViewBag.Title = "Detalles Compra";
}

<h2>Detalles</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha Compra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Total Compra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @ASP.Controllers.CompraController.NombreUsuario(Model.id_usuario)
        </dd>

        <dt>
            Cliente
        </dt>

        <dd>
            @ASP.Controllers.CompraController.NombreCliente(Model.id_cliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver Todos", "Index")
</p>
